*{ box-sizing: border-box; }
body {
  background-image: url(img/grid.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*
  left top;
  left bottom;
  right top;
  right center;
  right bottom;
  center top;
  center center;
  center bottom;
  */
  font-family: "Gill Sans", sans-serif;
}
#container {
  max-width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(255,255,255);
  border: 1px solid gray;
  border-top: 0;
  line-height: 1.5;
}
header {
  padding: .5em;
  color: white;
  border-bottom: 1px solid gray;
  background-color: black;
  text-align: center;
  font-family: optima, sans-serif;
  font-size: 1.5em;
}
nav {
  float: left;
  width: 15%;
  margin: 0;
  padding: 1em;
}
main {
  float: left;
  width: 65%;
  border:1px solid gray;
  padding: 2em;
  text-align: justify;
}
aside {
  float: right;
  width: 20%;
  margin: 0;
  padding: 1em;
}
footer {
  clear: both;
  margin: 0;
  padding: .5em;
  text-align: center;
  color: black;
  background-color: gray;
  border-top: 1px solid gray;
}
